astroid==2.2.5
atomicwrites==1.3.0
attrs==19.1.0
certifi==2019.6.16
chardet==3.0.4
Click==7.0
dj-database-url==0.5.0
Django==2.2.8
django-crispy-forms==1.8.0
django-debug-toolbar==2.0
dominate==2.4.0
engineering-notation==0.6.0
entrypoints==0.3
flake8==3.7.7
get==2019.4.13
gunicorn==19.9.0
heroku==0.1.4
idna==2.8
importlib-metadata==0.19
isort==4.3.16
lazy-object-proxy==1.3.1
packaging==19.1
pep8==1.7.1
post==2019.4.13
psycopg2==2.8.3
psycopg2-binary==2.8.4
public==2019.4.13
py==1.8.0
pycodestyle==2.5.0
pyflakes==2.1.1
pylint==2.3.1
pyparsing==2.4.2
pytest==5.1.2
python-console-menu==1.0
pytz==2019.2
query-string==2019.4.13
requests==2.22.0
urllib3==1.25.3
virtualenv==16.6.1
visitor==0.1.3
whitenoise==4.1.4
wrapt==1.11.1
